:root {
    --bdazzled-blue: #3D5A80;
    --dark-sky-blue: #98C1D9;
    --light-cyan: #E0FBFC;
    --fuzzy-wuzzy: #D16666;
    --gunmetal: #293241;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
    margin: 0;
    padding: 0;
    min-width: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    background: var(--fuzzy-wuzzy);
    align-items: center;
    padding: 16px 32px;
}

a,
p {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

.logo {
    display: block;
    height: 32px;
    width: 32px;
    margin: 0 16px;
}

.navigation-list {
    display: flex;
}

.navigation-link {
    list-style-type: none;
    font-size: 16px;
    font-weight: 700;
    color: var(--gunmetal);
    font-family: Bai Jamjuree;
}

.navigation-link a {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 16px;
}

.navigation-link p {
    line-height: 32px;
    padding: 0 16px;
}

main {
    min-height: calc(100vh - 160px);
    padding: 0 48px;
    margin-top: 96px;
}

h1 {
    text-align: center;
    font-style: italic;
    color: var(--gunmetal);
    margin: 32px 0;
}

.discord-link-button {
    margin: auto;
    text-align: center;
    margin: 48px 0;
}

.discord-link {
    font-family: Bai Jamjuree;
    font-weight: bold;
    background: var(--fuzzy-wuzzy);
    padding: 16px;
    border-radius: 16px;
}

.discord-link:hover {
    background: var(--dark-sky-blue);
}

footer {
    display: flex;
    background: var(--fuzzy-wuzzy);
    justify-content: center;
    align-items: center;
    min-height: 64px;
    padding: 16px;
}

.gamemode-section {
    margin-bottom: 32px;
    border-radius: 32px;
    background: var(--bdazzled-blue);
    padding: 16px;
    scroll-margin-top: 80px;
}

.gamemode-title {
    color: var(--light-cyan);
    text-align: center;
}

.gamemode-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 -16px;
}

.statistic-section {
    background: var(--dark-sky-blue);
    border-radius: 16px;
    color: var(--gunmetal);
    width: 384px;
    margin: 16px 16px 0;
    padding: 16px;
    scroll-margin-top: 80px;
}

.statistic-title {
    color: var(--gunmetal);
}

.stat-flexbox {
    max-height: 240px;
    overflow: hidden scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.stat-flexbox::-webkit-scrollbar {
    display: none;
}


.rank-element {
    list-style-type: none;
    display: flex;
    height: 24px;
    align-items: flex-end;
    justify-content: space-between;
    font-family: Bai Jamjuree;
}

.rank-number,
.rank-value,
.rank-element:hover .rank-name {
    font-weight: 600;
    flex-shrink: 0;
}

.rank-name {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 16px;
}

@media only screen and (min-width:768px) {
    nav {
        position: fixed;
        top: 0;
        width: 100%;
    }
}

@media only screen and (max-width:767px) {
    nav {
        flex-direction: column;
    }

    .navigation-list {
        flex-direction: column;
        align-items: center;
    }

    .navigation-list p {
        line-height: normal;
    }

    nav .navigation-link a {
        align-items: flex-end;
    }

    footer .navigation-link a {
        align-items: flex-start;
    }

    main {
        margin: 0;
        padding: 0 16px;
    }

    h1 {
        margin: 24px 0;
    }

    .discord-link-button {
        margin: 40px 0 32px 0;
    }

    .gamemode-section {
        margin-bottom: 16px;
        scroll-margin-top: 16px;
    }

    .statistic-section {
        scroll-margin-top: 16px;
    }
}